/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 05-11-2025, 12:48:54 p. m.
    Author     : gianc
*/
.text-primary {
   font-size: 28px;
   
  --bs-text-opacity: 1;
  color: mediumslateblue !important;
}
/**/
.navbar {
    background-color: mediumslateblue !important;
    border: none !important;
    border-width:0!important;
  z-index: 1;
}
.navbar-nav {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
   float: none !important;
  margin: auto !important;
}

.navbar ul li a{
    color: #fff;
    font-size: 22px;
     background-color:  mediumslateblue !important;
}
.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
/**/
.carousel img {
  top: 0;
 margin-bottom: 0px;
 margin-top: 10px;
  min-width: 100%;
  height: 650px;
  width: 320px;
  max-width: none;
}

.purple {
    background-color:  mediumslateblue !important;
    color: #fff
}
