/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 05-11-2025, 12:48:54 p. m.
    Author     : giancarlo
*/

/* The Modal (background) */
.modal {
 
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  height: 100vh;
  max-width: 3000px;
   background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Styling an <hr> tag within a modal */
.modal-header {
  border-color: #000; /* Light gray line */
}


.text-primary {
   font-size: 28px;
  --bs-text-opacity: 1;
  color: #66074c !important;
}

/*Button scrolltop*/
.btn-scrolltop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 20px;
    background: #66074c !important;
    color: white;
    border: 1px solid white;
    border-radius: 100%;
    cursor: pointer;
    transform: translateY(100px);
    transition: 0.3s;

}

.btn-scrolltop-on {
    transform: translateY(0);
}
/*svg*/
svg{
    fill: white;
    
}
svg:hover{
  fill:#66074c !important;
}

/*Card*/
.card{
    transition: all 0.3s;
}
.card:hover{
    transform: scale(1.1)
}
/*Card2*/
.card2{
  margin-top: 20px;
  margin-bottom: 20px;
}
/*CardGallery*/
.cardGallery{
    transition: all 0.3s;
}
.cardGallery:hover{
    transform: scale(1.1)
}
/*Barra navbar superior e inferior*/
.d-flex{
   height: 10px;
   background-color: goldenrod; 
}
/*navbar*/
.navbar {
    background-color: #66074c !important;
    border: none !important;
    border-width:0!important;
  z-index: 1;
  height: 98px;
 
}

.navbar-brand:hover {
    background-color: white !important;
    color: #66074c !important;

}

.navbar-nav {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
   float: none !important;
  margin: auto !important;
  
}
.navbar ul li a{
    color: #fff;
    font-size: 22px;
     background-color:  #66074c !important;
     
}
.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
 
  .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      
  }
  .navbar-toggler{
      border-color: white;
  }
  .navbar-toggler:focus{
      box-shadow: none;
  }
  
   .navbar .navbar-nav .navbar-brand {
    color: #fff;
    font-size: 1.1em;
    height: 60px;
    margin: auto;
}
.navbar .navbar-nav .navbar-brand:hover{
    color: #808080;
}
@media only screen and (min-width: 992px) {
  .navbar .navbar-nav .nav-item .navbar-brand {
    padding: 0 0.5em;
  }
  .navbar .navbar-nav .nav-item:not(:last-child) .navbar-brand {
    border-right: 2px solid #fff;
  }
}

#navbarToggleExternalContent{
    background-color: #66074c; 
    color: white;
}
  #text-external-navbar {
  color: white;
}

/*carousel-2*/
  .carousel-indicators2 [data-bs-target] {
  border-radius: 0%;
  width: 185px;
  height: 185px;
  background-color: #66074c !important;
}

.letter-carousel{
    font-size: 19px;
     color: white;    
    text-align: center;
    top: 80%!important;
    margin-top: 50px;
}
/*carousel*/
.carousel img {
  top: 0;
 margin-bottom: 0px;
 margin-top: 10px;
  min-width: 100%;
  height: 650px;
  width: 320px;
  max-width: none;
}
.carousel-indicators {
   
    top:  92% !important;
   
}
.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #66074c !important;
}
.carousel-control-prev-icon 
{
    width: 84px;
    height: 84px; 
}
    
.carousel-control-next-icon
{
    width: 84px;
    height: 84px;
    
}
/*Button*/
.btn-raised {
    transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), transform .4s cubic-bezier(.25, .8, .25, 1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26)
}

.btn-raised:not([disabled]):active,
.btn-raised:not([disabled]):focus,
.btn-raised:not([disabled]):hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4);
    transform: translate3d(0, -1px, 0)
}

.shadow {
    overflow: hidden;
    position: relative;
    transform: translate3d(0, 0, 0)
}

.shadow:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1.5s
}

.shadow:active:before {
    transform: scale(0, 0);
    opacity: .1;
    transition: 0s
}
.my-button,
.my-2 {
    margin-bottom: .5rem!important
}
.purple {
    background-color:  #66074c !important;
    color: #fff;
  
    
}

/*Button*/
a {
  text-decoration: none;
  position: relative;
  z-index: 1;
  transition: color 0.3s;
}

a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transition: width 0.3s, height 0.3s, left 0.3s, top 0.3s;
  z-index: -1;
  background-color: #fff;
}

a:hover {
  color: #66074c !important;
}

a:hover::after {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  
}
/*Buttons docentes*/
.btn-docentes{
    width: 300px;
    height: 150px;
    font-size: 25px;
    background-color: #66074c;
    color: white;
   margin-top: 60px;
}
.btn-docentes:hover{
    color:  #66074c !important;
}
/*Form*/
.dflex-form {
    display: flex;
  justify-content: center;
  align-items: center;
  /* Ejemplo de altura para que se vea el centrado vertical */
/*  height: 100vh;*/
height: 600px;
    background-color: white;
    
}
.p-4{
    background-color: #66074c;
    border-color: goldenrod;
}

.form-check-input:checked{
    background-color: #66074c;
    
}

body {
  margin: 0;
  margin-bottom: 40px;
}

html {
 min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}
footer {
    background-color: #66074c !important; 
     position: absolute;
    margin-top: 40px;
  display: table;
  width: 100%;
  text-align: center;
  
}
