/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 05-11-2025, 12:48:54 p. m.
    Author     : gianc
*/
.text-primary {
   font-size: 28px;
   
  --bs-text-opacity: 1;
  color: mediumslateblue !important;
}

/*Button scrolltop*/
.btn-scrolltop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 20px;
    background: mediumslateblue !important;
    color: white;
    border: 1px solid white;
    border-radius: 100%;
    cursor: pointer;
    transform: translateY(100px);
    transition: 0.3s;

}

.btn-scrolltop-on {
    transform: translateY(0);
}
/*navbar*/
.navbar {
    background-color: mediumslateblue !important;
    border: none !important;
    border-width:0!important;
  z-index: 1;
}
.navbar-nav {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
   float: none !important;
  margin: auto !important;
}

.navbar ul li a{
    color: #fff;
    font-size: 22px;
     background-color:  mediumslateblue !important;
}
.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
/*carousel*/
.carousel img {
  top: 0;
 margin-bottom: 0px;
 margin-top: 10px;
  min-width: 100%;
  height: 650px;
  width: 320px;
  max-width: none;
}
.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: mediumslateblue !important;
}
.carousel-control-prev-icon 
{
    width: 84px;
    height: 84px; 
}
    
.carousel-control-next-icon
{
    width: 84px;
    height: 84px;
    
}
/*Button*/
.purple {
    background-color:  mediumslateblue !important;
    color: #fff
}
